* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #262626;
  --font-lite: #bcb4b4;
  --font-white: #ffffff;
  --card-bg: #1e1e1e;
}

.Hero {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  background-color: var(--bg-color);
  padding: 1rem;
  min-height: 100vh;
}

.Hero h1 {
  color: #ffffff;
  margin: 1rem;
}
.Hero p {
  font-family: "Roboto Mono", monospace;
  max-width: 500px;
}
.Hero a {
  text-decoration: none;
  color: var(--card-bg);
  background-color: var(--font-lite);
  padding: 8px;
  border-radius: 8px;
  margin: 1rem;
  font-weight: 900;
}
